@CHARSET "UTF-8";

/* #######

	Definições de apresentação específica para o sistema
				
####### */
hr {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 15px;
	padding: 0 0 2px 10px;
}

.form-option-transfer-select {
	border: 1px solid #ccc;
}

.div-option-transfer-select {
	OVERFLOW: auto;
	WIDTH: 350px;
	HEIGHT: 147px;
}

.TabbedPanelsTabDisabled {
	color: rgb(184, 184, 184);
	background-color: rgb(218, 218, 218)
}

.TabbedPanelsTabDisabled:hover {
	text-decoration: none;
}

/* ##
A partir daqui é o código copiado do SIGLA
## */


a.linha-alternada {
	background-color: #F0F0F0 !important;
}

.titulo2 {
	background-color: #E3E3E3;
}

.table-sigla {
	width: 100% !important;
}
 
.table-form td {
	vertical-align: middle !important;
}

.linha-rosa {
	background-color: #FFE1E1 !important;
}

.linha-amarela {
	background-color: #FFFFCC !important;
}

.centralizaTexto {
	text-align: center;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup {
	font-size: 0.9em;
	margin-bottom: 20px;
	padding: 10px;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul li {
	line-height: 1.2em;
	margin-left: 40px;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul.msg-alerta {
	color: #6B5A22;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul {
	font-weight: bold;
	list-style: none outside none;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul.msg-alerta {
	background: url("../img/ico-msg-alerta.gif") no-repeat scroll 0 0
		transparent;
	color: #D6A11E;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul.msg-informativa
	{
	background: url("../img/ico-msg-informativa.gif") no-repeat scroll 0 0
		transparent;
	color: #16486D;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul.msg-sucesso
	{
	background: url("../img/ico-msg-sucesso.gif") no-repeat scroll 0 0
		transparent;
	color: #0B9701;
}

div#conteudo-dialog-area-mensagens #area-mensagens-popup ul.msg-erro {
	background: url("../img/ico-msg-erro.gif") no-repeat scroll 0 0
		transparent;
	color: #B53125;
}

div.dialog #area-mensagens-dialog-popup {
	border: 1px dashed #6b5a22;
	font-size: 0.9em;
	margin-bottom: 20px;
	padding: 10px;
}

div.dialog #area-mensagens-dialog-popup ul {
	font-weight: bold;
	list-style: none;
	min-height: 20px;
	_height: 20px; /* Adapta��o IE6 */
	padding-top: 5px;
	text-align: left
}

div.dialog #area-mensagens-dialog-popup ul li {
	line-height: 1.2em;
	margin-left: 40px;
}

div.dialog #area-mensagens-dialog-popup ul.msg-informativa {
	background: url(../img/ico-msg-informativa.gif) no-repeat;
	color: #16486d;
}

div.dialog  #area-mensagens-dialog-popup ul.msg-alerta {
	background: url(../img/ico-msg-alerta.gif) no-repeat;
	color: #d6a11e;
}

div.dialog #area-mensagens-dialog-popup ul.msg-sucesso {
	background: url(../img/ico-msg-sucesso.gif) no-repeat;
	color: #0b9701;
}

div.dialog #area-mensagens-dialog-popup ul.msg-erro {
	background: url(../img/ico-msg-erro.gif) no-repeat;
	color: #b53125;
}

.form-subgrupo {
	margin: 2px 0;
	width: 100%;
}

.form-subgrupo label:first-child {
	width: 200px;
	float: left;
}

.form-subgrupo .no-subgrupo {
	width: auto !important;
	float: none !important;
}

.form-subgrupo .form-campo-obrigatorio {
	float: left;
	margin: 0 5px 0 0;
}

.duplo {
	width: 50%;
	float: left;
}

.triplo {
	width: 33%;
	float: left;
}

.clearfix {
	clear: both;
}

#iframe {
	width: 100%;
	height: 100%;
}

.popup {
	padding: 2px 1px 4px;
	!
	important
}

.dialog h4 {
	border-bottom: 1px solid;
	padding: 0 0 5px;
}

.form-button-disable {
	font-weight: bold !important;
	padding: 3px !important;
	cursor: not-allowed;
}

.nowrap {
	white-space: nowrap !important;
}

.textoDireita {
	text-align: right;
}

.textoEsquerda {
	text-align: left;
}

.textoCentro {
	text-align: center;
}

.fonteVermelhaNegrito {
	font-weight: bolder;
	color: #FF0000;
}

#tipoOutroProrrogar {
	float: left;
	margin: 24px;
}

.float-none {
	float: none;
}

.form-content-radio input {
	margin: 5px;
}

.link {
	color: #F93;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

table.paddingRight15 td, th {
	padding-right: 15px !important;
}

.arvore {
	display: block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.arvore ul {
	padding: 0 0 0 11px;
}
/*.form-group > label:after {
    content: ":";
}*/
#conteudo h4 {
	font-weight: bold !important;
}

.table-grid caption {
    margin-right: 2px !important;
}

.table-grid  th, .table-grid  td {
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	word-break: break-word;
}

.table-grid th:first-child {
	padding-right: 3px !important;
}

/*Z-index do componente de calendario/data no input*/
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
	{
	z-index: 2 !important;
}

div#corpo #area-mensagens ul {
	box-sizing: content-box !important;
}
/*correção do Cabeçalho */
#dados-login label {
	margin: 0;
}

.table-grid tr.active td {
	background: none repeat scroll 0 0 #fef4bc;
	border-radius: 0 !important;
}

.form-button:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

td .row {
	margin: -2px;
	padding: 2px;
}

.nenhum_registro_listagem {
	border: 1px dashed #6b5a22;
	color: #d6a11e;
	display: block;
	padding: 10px;
	text-align: center;
}

#radios label {
	font-weight: normal;
}

.positionRelativeLeft {
	position: relative;
	float: left;
}

.marginLeft10 {
	margin-left: 10%;
}

.formula-content .btn-group, .formula-content .input-group {
	border-bottom: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
	margin: 5px 0;
	padding: 10px;
}

.formula-content .btn {
	padding: 0 8px;
}

.formula-content  .btn {
	background: #6b5a22;
	color: #fdb813;
	font-weight: bold;
	border: 1px solid;
	margin: 0 4px 0 0 !important;
}

.formula-legenda {
	position: absolute;
	right: 0;
	width: 40%;
}

.formula-legenda-width-50 {
	position: absolute;
	right: 0;
	width: 50%;
}

.formula-legenda td {
	vertical-align: top !important;
}

.formula-content .botoes-ajuste {
	padding-top: 25px !important;
}

.formula-content .ui-button {
	padding: 0 !important;
}

.ui-datepicker.ui-helper-clearfix {
	display: unset
}

.box-fixed {
	background: none repeat scroll 0 0 #e3e3e3;
	box-shadow: 0 0 9px #333;
	left: 29px;
	position: fixed;
	border-radius: 0.5em;
	right: 20px;
	top: 6px;
	width: auto;
	z-index: 4;
}
/*AJUSTES NO POPUP DE CONFIRMAÇÃO*/
.ui-dialog .ui-dialog-buttonpane button {
	padding: 0;
}

.ui-dialog .ui-dialog-buttonpane button .ui-button-text {
	padding: 5px 11px 4px !important;
}

.ui-dialog .ui-icon-closethick {
	background-position: -97px -129px;
}

.legendaCriterio {
	margin-bottom: 35px;
}

.legendaCriterio .label_legenda {
	margin-left: 23px;
}

.legenda_marcacao {
	float: left;
	margin: 0 15px 0 0;
	font-weight: bold;
}

}


#identificacao-sistema label {
	margin: 0;
}

#identificacao-sistema .form-label {
	margin: 0;
}

#identificacao-sistema h1, #identificacao-sistema h2 {
	margin: 0;
	padding: 0;
}

.dialog h4 {
	background: url(../img/blt-subtitulo.gif) left no-repeat;
	border-bottom: 1px solid #ccc;
	font-size: 1em;
	margin-bottom: 15px;
	padding: 0 0 2px 10px;
	font-weight: bold !important;
}

.formula-content .form-group label {
    margin-top: 16px;
}

/*problema no IE10 com o popup de confirmação*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-dialog-buttons {
    z-index: 1003 !important;
}

.ui-widget-overlay{
	 z-index: 1000 !important;
}

.repetitividadeTabbedPanelSelect {
	padding-top:4px;
	top:0
}

/*Fim da cópia do SIGLA*/

.form-group select, .form-group input, .form-group table {
	float: left;
}
.form-group-check-radio {
	margin-bottom: 10px;
	
}

.form-group-check-radio.same-line {
	float: left;
	margin-right: 10px;
}

.form-group-check-radio label {
	font-weight: normal;
	vertical-align: middle;
	margin-bottom: 0px;
}

.naoNegrito label {
	font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0px;
	float: none;
}
